## Dividir Dataframe em k partes com dados previamente randomizados

In [5]:
import pandas as pd
import numpy as np

def dividir_dataset(dados, k):
    misturado = dados.sample(frac=1) #randomizar os dados    
    return np.array_split(misturado, k)  

alfabeto = []
for i in range(ord('a'), ord('z')+1):
    alfabeto.append(chr(i))
print(alfabeto)
dados = pd.DataFrame(alfabeto).rename(columns = {0: 'chr'})

from IPython import display
for fatia in dividir_dataset(dados,3):
    display.display(fatia.T)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

    0  11 4  13 10 5  24 25 16
chr  a  l  e  n  k  f  y  z  q

    6  8  14 7  17 19 9  15 3
chr  g  i  o  h  r  t  j  p  d

    12 23 22 1  18 2  21 20
chr  m  x  w  b  s  c  v  u

## Imprimir no mesmo lugar

In [5]:
import time
for x in range(10):
    print(x, end='\r')
    time.sleep(0.3)

## Cores randomicas

In [ ]:
import random
def random_color():
    cor = ["#"+''.join([random.choice('0123456789ABCDEF') for j in range(6)])]
    return cor[0]

## Mudar estilo do *print()*

In [1]:
from colorama import Fore, Back, Style
print(Fore.RED + 'some red text')
print(Back.GREEN + 'and with a green background')
print(Style.DIM + 'and in dim text')
print(Style.RESET_ALL)
print('back to normal now')

some red text
and with a green background
and in dim text

back to normal now

### Pandas de teste

In [6]:
import pandas as pd
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
df

   col1  col2
0     1     3
1     2     4

## Cáculo de tempo

In [19]:
import time

inicio = time.time()
time.sleep(5)
fim = time.time()
print(fim - inicio)

5.009012699127197

## Diferença de duas listas

In [1]:
a = [1, 2, 3, 5, 8, 13, 21]
b = [1, 2, 3, 5, 7, 11]
set(a)-set(b)

{8, 13, 21}