## Dividir Dataframe em k partes com dados previamente randomizados

In [5]:
import pandas as pd
import numpy as np

def dividir_dataset(dados, k):
    misturado = dados.sample(frac=1) #randomizar os dados    
    return np.array_split(misturado, k)  

alfabeto = []
for i in range(ord('a'), ord('z')+1):
    alfabeto.append(chr(i))
print(alfabeto)
dados = pd.DataFrame(alfabeto).rename(columns = {0: 'chr'})

from IPython import display
for fatia in dividir_dataset(dados,3):
    display.display(fatia.T)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

    0  11 4  13 10 5  24 25 16
chr  a  l  e  n  k  f  y  z  q

    6  8  14 7  17 19 9  15 3
chr  g  i  o  h  r  t  j  p  d

    12 23 22 1  18 2  21 20
chr  m  x  w  b  s  c  v  u

## Imprimir no mesmo lugar

In [10]:
import time
for x in range(10):
    print(x, end='\r')
    time.sleep(0.3)

## Cores randomicas

In [ ]:
import random
def random_color():
    cor = ["#"+''.join([random.choice('0123456789ABCDEF') for j in range(6)])]
    return cor[0]