### Associação de múltiplas variáveis

In [18]:
nome, idade, linguagem = 'Rodrigo', 40, 'Python'
print(f"{nome} tem {idade} anos e programa em {linguagem}")

Rodrigo tem 40 anos e programa em Python

### Swap Variables

In [2]:
a = 2
b = 1
a, b = b, a
print(a, b)

1 2

### List Comprehension

In [3]:
quadrados = [i*i for i in range(10)]
quadrados

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
quadrados_pares = [i*i for i in range(10) if i%2 == 0] 
quadrados_pares

[0, 4, 16, 36, 64]

### Ternary Operator
Criar um if else com uma linha
```
if 3<2:
    var = 42
else
    var = 99
```

In [6]:
var = 42 if 3<2 else 99
var

99

### Print only

In [7]:
data = [0, 1, 2, 3, 4, 5]
print(*data)

0 1 2 3 4 5

In [8]:
for i in data:
    print(i, end=' ')
print('pronto')

0 1 2 3 4 5 pronto

### Dias restantes no ano
Cálculo do (último dia do ano menos o dia de hoje) em dias

In [14]:
import datetime; print((datetime.date(datetime.date.today().year,12,31)-datetime.date.today()).days)

38

### Reverter uma lista (ou string)

In [16]:
data = [0, 1, 2, 3, 4, 5]
print(data[::-1])

[5, 4, 3, 2, 1, 0]

In [17]:
print('Roma'[::-1])

amoR

### Números separados para lista de inteiros

In [19]:
input = '1 2 3 4 5 6'
list(map(int, input.split()))

[1, 2, 3, 4, 5, 6]

### Ler arquivo para uma lista

In [20]:
[line.strip() for line in open('Python One Liners - nomes.txt', 'r')]

['Didi', 'DedÃ©', 'Mussum', 'Zararias', 'Sgt. Pimenta']

### Ligar um servidor python, na pasta onde que tem arquivos http, abrir terminal e:
python -m http.server